id: douban
name: 豆瓣读书
base_url: https://book.douban.com/
search:
  url: https://www.douban.com/search
  method: GET
  params:
    cat: 1001
    q: $query
  result_list_xpath: //a[contains(@class, 'nbg')]
  detail_url_attr: href
  detail_url_parse: extract_redirect_target
detail:
  fields:
    title:
      xpath: //span[@property='v:itemreviewed']
    cover:
      xpath: //a[@class='nbg']
      attr: href
    rating:
      xpath: //strong[@property='v:average']
      filter: '$floatval($v)/2'
    authors:
      xpath: //span[@class="pl" and contains(text(),"作者")]/../a
      attr: text
      multi: true
    publisher:
      xpath: //span[@class="pl" and contains(text(),"出版社")]/following-sibling::text()[1]
      filter: '$trim($v)'
    publishedDate:
      xpath: //span[@class="pl" and contains(text(),"出版年")]/following-sibling::text()[1]
      filter: '$normalizeDate($v)'
    isbn:
      xpath: //span[@class="pl" and contains(text(),"ISBN")]/following-sibling::text()[1]
      filter: '$trim($v)'
    tags:
      regex: '/criteria\s*=\s*[''"]([^''"]+)[''"]/i'
      regex_index: 1
      filter: |
        $arrayValues($arrayUnique($arrayFilter(
          fn($t) => strpos($t, '/') === false,
          $arrayMap('trim', $regexMatchAll('/\d+:([^|]+)/', $v, 1))
        )))
    description:
      xpath: (//div[@id='link-report']//div[contains(@class,'intro')])[last()]/p
      attr: text
      multi: true
      join: "\n\n"
headers:
  User-Agent: Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/120.0.0.0 Safari/537.36
  Referer: https://book.douban.com/
cache_ttl: 720
concurrency: 5
encoding: utf-8
